.app {
}

.blog-container{
  margin-left:30%;
  margin-right:30%;
  margin-top: 60px;
}

.blog-post{
  list-style: none;
  background: #fcfefe;
  border-radius: 8px;
  border: solid 2px #005792;
  padding: 15px;
  margin-bottom: 20px;
}

.blog-post-content{

}
.blog-title{
  font-size: 28px;
  text-transform: uppercase;
  color: #f76b8a;
}

.blog-text{
  font-size: 18px;
}

.blog-author{
  text-align: right;
  font-size: 12px;
  color: #3e4a61;
}